/*CSS para o cabeçario*/

header {
	background: url("fundo1.png");
	padding: 10px 0;
}

.logo {
	width: 35%;
}

.bloco {
	position: relative;
	width: 1280px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 90px;
	right: 50px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FF0000;
	font-family: 'Carter One', cursive;
	font-weight: bold;
	font-size: 28px;
	text-decoration: none;
	padding: 0 5px;
}

nav a:hover {
	color: #900D09;
}


/*CSS para o Rodapé*/

footer {
	text-align: center;
	background: url("fundo1.png");
	padding: 20px 0;
}

.logo-sigla {
	width: 17%;
}

.copyright {
	color: #000000;
	font-size: 15px;
	font-weight: bold;
	margin: 20px 0 0;
}


/*Página Home*/

.banner {
	width: 100%;
	border-top: 0.5em solid #FEFEFE;
}

/*Sessão - Sobre Dungeons and Dragons*/

.titulo-principal {
	text-align: center;
	font-size: 2em;
	font-family: 'Carter One', cursive;
	margin: 0 0 1em;
	clear: left;
}

.sobrednd {
	border-top: 0.3em solid #FEFEFE;
	border-bottom: 0.5em solid #FEFEFE;
	padding: 2em 0;
	color: #FFFFFF;
	background: url("fundo2.png");
}

.largura-sobrednd {
	width: 1280px;
	margin: 0 auto;
}

.sobrednd p:not(.finalidade) {
	margin: 0 0 1em;
	color: #FEFEFE;
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
}

.sobrednd p:not(.finalidade) {
	text-align: justify;
}

.sobrednd strong, .futuro strong, .texto-mapa strong, .comecando strong, .papel-jogadores strong, 
.papel-dungeon-master strong, .classes-personagem strong {
	font-weight: bold;
}

.sobrednd em, .comecando em {
	font-style: italic;
}

.finalidade {
	margin: 2em 2em 2em 8em;
	color: #FEFEFE;
	font-family: 'Heebo', sans-serif;
	font-size: 1.2em;
	text-align: center;
}

.dice {
	width: 115px;
	float: left;
	margin: 0 20px 20px 0;
}

/*Sessão - Vantanges de Jogar RPG*/

.vantagens {
	padding: 2em 0;
	background: #FEFEFE;
}

.conteudo-vantagens, .mapa-conteudo, .texto-mapa {
	width: 1280px;
	margin: 0 auto;
}

.lista-vantagens {
	width: 35%;
	margin-left: 14%;
	display: inline-block;
	vertical-align: top;
}

.itens {
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
	font-style: italic;
	line-height: 2em;
}

.mesa-rpg {
	width: 32%;
	margin-left: 5%;
	transition: 400ms;
}

.mesa-rpg:hover, .castle:hover, .dungeon-master:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px 2px #000000;
}

/*Sessão - Futuro de Dungeons and Dragons*/

.futuro {
	padding: 2em 0;
	background: url("fundo8.png");
}

.futuro p {
	margin: 0 0 1em;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
}

.video {
	width: 560px;
	margin: 1em auto;
}

.mapa {
	padding: 3em 0;
	background: #FEFEFE;
}

.mapa p {
	margin: 0 0 2em;
	text-align: center;
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
}

.localidade {
	font-size: 1.2em;
	font-weight: bold;
}


/*Página Jogo*/

/*Sessão Começando*/

.titulo-comecando, .titulo-jogadores, .titulo-dungeon-master {
	text-align: center;
	font-size: 2em;
	font-family: 'Carter One', cursive;
	margin: 0 0 1em;
	clear: right;
	clear: left;
}

.comecando, .papel-jogadores, .papel-dungeon-master {
	padding: 2em 0;
}

.largura-comecando, .largura-jogadores, .largura-dungeon-master {
	width: 1280px;
	margin: 0 auto;
}

.comecando p:not(.trecho), .papel-jogadores p, .papel-dungeon-master p {
	margin: 0 0 1em;
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
	text-align: justify;
}

.trecho {
	margin: 1em 32em 1em 2em;
	padding: 1em;
	color: #FEFEFE;
	font-family: 'Heebo', sans-serif;
	font-size: 1.1em;
	text-align: center;
	background: black;
	border-radius: 10px;
}

.castle {
	width: 500px;
	float: right;
	margin: 20px 0 20px 40px;
	transition: 400ms;
}

/*Sessão Papel dos Jogadores*/

.papel-jogadores {
	background: url("fundo2.png");
	color: #FFFFFF;
}

.jogadores {
	width: 500px;
	float: left;
	margin: 20px 40px 20px 0px;
	transition: 400ms;
}

.jogadores:hover {
	transform: scale(1.05);
	box-shadow: 0 0 10px 2px #FFFFFF;
}

/*Sessão Papel do Dungeon Master*/

.dungeon-master {
	width: 500px;
	float: right;
	margin: 20px 0 20px 40px;
	transition: 400ms;
}

.espaço-esquerda {
	padding-left: 20px;
}


/*Página Personagem*/

/*Sessão ???*/

.largura-classes {
	width: 1280px;
	margin: 0 auto;
}

.classes-personagem {
	padding: 2em 0;
}

.titulo-classes {
	text-align: center;
	font-size: 2em;
	font-family: 'Carter One', cursive;
	margin: 0 0 1em;
}

.classes-personagem h3 {
	margin: 0;
	font-family: 'Carter One', cursive;
	font-size: 1.3em;
	font-weight: bold;
	text-align: center;
}

.lista-classes p {
	margin: 1em 0 1em;
	font-family: 'Heebo', sans-serif;
	font-size: 0.9em;
	text-align: center;
}

.lista-classes li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1em 1em 1em;
	padding: 20px;
	box-sizing: border-box;
	border: 3px solid #000000;
	border-radius: 10px;
}

.lista-classes li:hover {
	border-color: red;
}

.lista-classes li:hover h3 {
	color: red;
}